<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/">
    <mat-icon>directions_car</mat-icon>
  </button>
  <span>Locação de veículos</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/gerenciar-veiculos">Veículos</button>
  <button mat-button routerLink="/gerenciar-grupos">Grupos de veículos</button>
  <button mat-button routerLink="/gerenciar-empresas">Empresas</button>
  <button mat-button routerLink="/gerenciar-planos">Planos</button>
  <button mat-button routerLink="/gerenciar-veiculo-assistencia-plano">Assistência de veículos</button>
</mat-toolbar>
